body{
    background-image: image-set("https://img.freepik.com/vetores-premium/enormes-aglomerados-de-estrelas-no-ceu-escuro-ilustracao-em-vetor-de-fundo-preto_643070-1096.jpg");
    display: flex; justify-content: center; align-items: center; height: 100vh;
}
button {
    background-color: rgb(70, 70, 70); color: rgb(255, 255, 130);scale: 2; size: 230px; height: 150px; width: 210px; display: flex; justify-content: center; align-items: center; border-color: rgba(255, 255, 100, 0.808); block-size: 120px;
}
