button{
    transition: ease-in-out 0.3s; scale: 1.0; 
    color: rgb(253, 93, 49); background-color: rgb(188, 98, 19); 
    border: 1; border-radius: 18px; border-width: 3px;  
    padding: 11px 15px; 
    font-size: larger; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;
    position: relative; 
}
.display-botao{
    display: flex;
    justify-content: space-between;
    margin-left: 20px; margin-top: 20px;
    position: relative; top: 29vh;
}
button:hover{
    transition: ease 0.5s; scale: 0.85; cursor: pointer; opacity: 0.95;
}body{
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 
    align-content: center;
    background-image: image-set("sisifo.jpeg"); background-repeat: no-repeat; background-size: 100%; 
    height: fit-content;
}