#login, #cadastro{
    animation: aparecer 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    min-height: 300px;
    gap: 15px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.linkCad {
    font-size: 15px;
}
.linkCad-2 {
    font-size: 15px;
    color: white;
    gap: 20px;
}
.linkCad-2 a {
    font-size: 15px;
    color: rgb(0, 255, 76);
}

a {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}
a:hover {
    color: aqua;
}

#navbar {
    display: none;
}

#cadastro { 
    display: none;
    background-color: cornflowerblue;
}

#produtos {
    display: none;
}

@keyframes aparecer {
    0% {opacity: 0;}
    50% {opacity: 0.7; scale: 1.01;}
    100% {opacity: 1; scale: 1;}
}


.containerInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 10px;
    height: 25px;
    color: black;
    text-align: center;
}

button {
    transition:0.3s ease;
    height: 30px;
    background-color: rgb(45, 195, 255);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

button:hover {
    transition: 0.3s ease;
    background-color: aqua;
    scale: 1.1;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

