      .butong{
        display: flex; position: absolute; left: 50vh; top: 73vh;
        padding: 50px 100px;
        background-color: crimson;
        color: black;
        font-size: x-large;
        font-style: oblique;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder;
        border-radius: 50px;
        border-width: 6px;
        border-color: rgb(235, 232, 86);
        animation: buton1 2.3s infinite;
        cursor: pointer ;
    }
    @keyframes buton{
        0% {transform: translateX(0) scale(1); opacity: 1;}
        25% {transform: translateY(-5px) scale(1); opacity: 1;}
        50% {transform: translateY(-10px) scale(1.05); opacity: 0.7;}
        100% {transform: translateX(0) scale(1); opacity: 1;}
    }
    .butong:hover{
        animation: buton 1.3s ease;
    }
    @keyframes buton1{
        0% {transform:  scale(1); opacity: 1;}
        25% {transform: scale(1); opacity: 1;}
        50% {transform: scale(1.02); opacity: 1;}
        100% {transform: scale(1); opacity: 1;}
    }
    @keyframes link{
        0% {transform: translateX(0)}
        50% {transform: translateX(5px);}
        100% {transform: translateX(0);}
    }
    @keyframes butongeral{
        0% {transform:  scale(1); opacity: 1;}
        25% {transform: scale(1); opacity: 1; color: rgb(0, 0, 0);}
        40% {transform: scale(1.03); opacity: 0.8; color: rgb(0, 0, 0);}
        100% {transform: scale(1); opacity: 1; color: black;}
    }
    body{
        color: crimson;
        background-color: rgb(239, 247, 255);
    }
    p{
        font-size: 2.6vh;
        font-weight: bold;
    }
    a{
        transition: 0.6s ease;
        color: black;
        font-size: large;
        position: absolute; left: 2vh;
        animation: link 2s infinite ease;

    }
    a:hover{
        animation-play-state: paused;
        transition: 0.3s ease;
        color: rgb(255, 144, 144);
        scale: 0.9; 
    }
    button{
        background-color: rgba(0, 0, 0, 0.628);
        color: rgb(255, 255, 255);
        padding: 5px 6px;
        font-size: large;
        font-style: oblique;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder;
        border-radius: 10px;
        border-width: 6px;
        border-color: rgb(255, 0, 0);
        cursor: pointer;
    }
    .botao:hover{
        animation: buton 0.6s ease;
    }
    .botao.pos1{
        display: flex; position: absolute; left: 143vh; top: 13vh;

    }
    .botao.pos2{
        display: flex; position: absolute; left: 162vh; top: 13vh;

    }
    .botao.pos3{
        display: flex; position: absolute; left: 181vh; top: 13vh;

    }
    .botao.pos4{
        display: flex; position: absolute; left: 143vh; top: 22vh;
    }
    .botao.pos5{
        display: flex; position: absolute; left: 162vh; top: 22vh;
    }
    .botao.pos6{
        display: flex; position: absolute; left: 181vh; top: 22vh;
    }
    .botao.pos7{
        display: flex; position: absolute; left: 143vh; top: 31vh;
    }
    .botao.pos1list2{
        display: flex; position: absolute; left: 143vh; top: 47vh;
    }
    .botao.pos3list2{
        display: flex; position: absolute; left: 181vh; top: 47vh;
    }
    .botao.pos2list2{
        display: flex; position: absolute; left: 162vh; top: 47vh;
    }
    .botao.pos4list2{
        display: flex; position: absolute; left: 143vh; top: 57vh;
    }
    .botao.pos6list2{
        display: flex; position: absolute; left: 181vh; top: 57vh;
    }
    .botao.pos5list2{
        display: flex; position: absolute; left: 162vh; top: 57vh;
    }
    .botao.pos7list2{
        display: flex; position: absolute; left: 143vh; top: 67vh;
    }
    .botao.pos8list2{
        display: flex; position: absolute; left: 162vh; top: 67vh;  
    }
    .botao.pos9list2{
        display: flex; position: absolute; left: 181vh; top: 67vh;
    }
    .botao.pos10list2{
        display: flex; position: absolute; left: 143vh; top: 77vh;
    }