h1 {
    color: rgb(218, 170, 0);
    font-weight: bolder;
    position: absolute;
    left: 5vh;
}

body {

    background-image: image-set("wallpaperbully.webp");
    background-size: 110%;
    height: 100vh;
}

.container {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.parte1 {
    flex-wrap: wrap;
    display: flex;
}

.parte2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vh;
}

.parte3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vh;
}

button {
    /* Visual dos botões */
    transition: ease-in-out 0.3s;
    scale: 1.0;
    color: rgb(211, 176, 0);
    background-color: rgb(32, 19, 102);
    border: 1;
    border-radius: 18px;
    border-width: 3px;
    border-color: rgb(30, 92, 29);
    padding: 11px 15px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: absolute;
}

/* animação dos botões */
@keyframes buttonanim {
    0% {
        border-color: rgb(30, 92, 29);
        border-width: 3px;
    }

    25% {
        border-width: 3px;
    }

    50% {
        border-color: rgb(236, 246, 254);
        scale: 0.9;
    }

    100% {
        scale: 1;
        border-width: 3px;
        scale: 1;
    }
}

button:hover {
    animation: normal ease-in buttonanim 0.5s;
    border-color: aliceblue;
}

.botaopartes{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    top: 11vh;
}
